.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #131316;
  color: #f2f2f3;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2f2f37;
}

::-webkit-scrollbar-thumb {
  border: 3px solid #8585ad;
  background: #8585ad;
}

.detailPageWrap {
  margin: 120px auto;
}

.detailHeader {
  text-align: center;
}

.title {
  margin: 0 auto;
}

.error {
  margin: 0 auto;
  color: red;
}

.orderPage {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding-top: 100px;
}

.orderPage > div {
  margin: 0;
}

.orderPage > div > p:first-child {
  text-align: center;
}

.ingredientPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}
