.wrap {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 640px;
  height: 590px;
  margin: 0 auto;
}

.number {
  margin: 0 0 40px;
  text-align: left;
}

.header {
  margin: 0 0 12px;
}

.composition {
  margin: 60px 0 24px;
}

.imgWrap {
  position: relative;
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
}

.border {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #1c1c21;
}

.img {
  position: relative;
  right: 25px;
  width: 112px;
  height: 56px;
}

.list {
  flex: 1;
  min-height: 0;
  margin: 0;
  padding: 0 24px 0 0;
  overflow-y: auto;
  list-style: none;
}

.list::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.list::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.item:last-child {
  margin-bottom: 0;
}

.ingredientName {
  max-width: 320px;
  margin-left: 16px;
}

.quantity {
  margin-left: auto;
  margin-right: 8px;
  white-space: nowrap;
}

.bottom {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.date {
  margin: 0;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}
